body {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	overflow: hidden;
	background-color: #28282D;
	font-family: Menlo;
}

#main_section {
	flex: 1;
	display: flex;
}

#wrapper {
	display: flex;
	flex-direction: column;
}

#side_panel {
	flex: 1;
	background-color: #4B4B4B;
	margin-left: 10px;
	padding: 5px;
	font-size: 12px;
	white-space:pre;
	word-wrap: break-word;
}

#bottom_bar {
	height: 185px;
	flex: 1;
	margin-top: 10px;
	background-color: #4B4B4B;
	padding: 5px;
	overflow: auto;
}